body {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.scrim {
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    padding: 10rem;
    position: absolute;
    top: 0;
    width: 100%;
    visibility: hidden;
}

.scrim.active {
    visibility: visible;
}

.popup {
    background: white;
    padding: 5rem;
    max-width: 50rem;
    border-radius: 4rem;
}

.popup-title {
    margin: 0;
    font-size: 40px;
    color: #f26ca7;
}

.popup-description {
    margin: 2rem;
    font-size: 16px;
    color: black;
}

.popup-button {
    width: 15rem;
}

#set-name-title {
    font-size: 32px;
}

#set-name-container {
    margin-top: 2rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
}

#name-input {
    flex: 1 1 0;
    min-width: 0;
    border-radius: 1rem 0 0 1rem;
    border: 1px solid #f26ca7;
    box-shadow: #d8e2f5 0.5rem 0.5rem;
    padding-left: 1rem;
}

#set-name-button {
    flex: 0 0 10rem;
    border-radius: 0 1rem 1rem 0;
}

#everything-container {
    height: 100vh;
    margin: 0 auto;
}

#banner {
    height: 6rem;
    width: calc(100% + 46rem);
    transform: translate(-23rem, 0);
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    background: white;
    border-radius: 0 0 2rem 2rem;
    padding: 0 2rem;
}

#timer-wrapper {
    width: 25rem;
}

#timer {
    display: none;
    color: #9eb7e5;
    font-family: "Roboto";
    font-size: 36px;
}

#prompt {
    font-size: 4rem;
    color: #f26ca7;
}

#code-wrapper {
    width: 25rem;
    height: 3rem;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: stretch;
}

#code-label {
    flex: 0 0 auto;
    margin: 0;
    color: #9eb7e5;
    line-height: 225%;
    margin-right: 0.5rem;
    font-size: 14px;
}

#code {
    flex: 1 1 0;
    min-width: 0;
    border-radius: 1rem 0 0 1rem;
    border: 1px solid #9eb7e5;
    box-shadow: #d8e2f5 0.5rem 0.5rem;
    padding-left: 1rem;
}

#copy-code-button {
    padding: 0;
    flex: 0 0 5rem;
    border-radius: 0 1rem 1rem 0;
}
#copy-code-button > img {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0.5rem 0;
}



#main-container {
    background-color: white;
    margin: 2rem auto;
    border-radius: 4rem;
    padding: 2rem;
    position: relative;
    width: 100%;
}

#players-container {
    position: absolute;
    width: 21rem;
    left: -23rem;
    top: 0;
    background-color: white;
    border-radius: 4rem;
    padding: 2rem;
    box-sizing: border-box;
}

#players-title {
    margin: 0;
    font-size: 3rem;
    color: #f26ca7;
}

#player-list {
    list-style-type: none;
    padding: 0;
    margin-bottom: 2rem;
}

.player {
    padding: 0 1rem;
    height: 4rem;
    background-color: #ecf1fa;
    border-radius: 1rem;
    width: 100%;
    margin: 0.5rem 0;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
    .player[guessed] {
        background-color: #e6ffe8;
    }
        .player[guessed] > .player-score {
            color: #2ad156
        }
.player-name {
    flex: 1 1 0;
    margin: 0;
    text-align: left;
}
.player-score {
    flex: 0 0 2rem;
    margin: 0;
    text-align: right;
    color: #9eb7e5;
    font-family: "Roboto";
    font-size: 24px;
}

.player-increase {
    background-color: #2ad156;
    color: white;
    position: absolute;
    width: 8rem;
    height: 100%;
    right: -9rem;
    top: 0;
    border-radius: 1rem;
    padding: 0.75rem 0;
    font-family: "Roboto";
    font-size: 20px;
    text-align: center;
    z-index: 10;
}

#start-button {
    display: none;
    width: 100%;
}

#canvas-container {
    width: 100%;
    height: 100%;
    border: .1rem solid #9eb7e5;
    position: relative;
    border-radius: 2rem;
}

#canvas {
    width: 100%;
    height: 100%;
    border-radius: 2rem;
}

#canvas-clear-button {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}

#canvas-overlay {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 2rem;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    vertical-align: middle;
}

#canvas-overlay-text {
    color: #f26ca7;
    font-size: 8rem;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}

#mascot-container {
    position: absolute;
    width: 21rem;
    right: -23rem;
    bottom: 0;
}

#mascot-container img {
    animation: bob 4s ease infinite;
    width: 20rem;
}

#mascot-container img:not(.active) {
    display: none;
}

#guess-container {
    position: absolute;
    width: 21rem;
    height: 10rem;
    right: -23rem;
    top: 0;
    background-color: white;
    border-radius: 4rem;
    padding: 2rem;
    box-sizing: border-box;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#speech-bubble {
    margin: 0;
    font-size: 3rem;
    color: #f26ca7;
}

@keyframes bob {
    0%, 100% {
        transform: rotateZ(-5deg) translate(0, -2rem);
    }

    25%, 75% {
        transform: translate(0, 0);
    }

    50% {
        transform: rotateZ(5deg) translate(0, -2rem);
    }

    /* 0%, 100% {
        transform: translate(0, -2rem);
    }

    50% {
        transform: translate(0, 0);
    } */
}

#podium {
    margin: 4rem 0 3rem 0;
    display: flex;
}

.podium-place {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 10rem;
}

.podium-place div:first-child {
    animation: bob 4s ease infinite;
    font-size: 2rem;
}

.podium-place div:nth-child(2) {
    font-weight: 600;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#second-place-podium {
    background: #9EB7E5;
    height: 10rem;
}

#first-place-podium {
    background: #F5DD90;
    height: 15rem;
}

#third-place-podium {
    background: #F26CA7;
    height: 5rem;
}