*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
    margin: 0;
}

input, button {
    padding: 1rem;
}

input:focus {
    outline: none;
}

body {
    background: url("../img/background.svg") repeat;
    background-size: 1600px 1200px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -9999;
    position: fixed;
    animation: background-slide 30s linear infinite;
}

@keyframes background-slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1600px -1200px;
    }
}