*, *::before, *::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    font-size: 1.6rem;
    margin: 0;
    font-family: 'Roboto Light';
}

body {
    background: url("../img/background.svg") repeat;
    background-size: 1600px 1200px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -9999;
    position: fixed;
    animation: background-slide 30s linear infinite;
}

@keyframes background-slide {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -1600px -1200px;
    }
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../font/Roboto-Light.ttf') format('truetype');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

input:focus {
    outline: none;
}

.button {
    padding: 1rem;
    font-family: 'Roboto';
    font-weight: normal;
    font-size: 16px;
    color: white;
    background-color: #5e4ae3;
    border-radius: 1rem;
    border: none;
    box-shadow: #d8e2f5 0.5rem 0.5rem;
}
    .button.clicky:hover {
        transform: translate(-0.25rem, -0.25rem);
        box-shadow: #d8e2f5 0.75rem 0.75rem;
    }
    .button.clicky:active {
        transform: translate(0.5rem, 0.5rem);
        box-shadow: none;
    }

.primary-button {
    background-color: #f26ca7;
}

.secondary-button {
    background-color: #9eb7e5;
}