@page
@model PictionaryAI.Pages.GameModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/game.css" rel="stylesheet">

    <script src="~/lib/signalr/signalr.js"></script>
    <script defer src="~/js/game.js"></script>
</head>
<body>
    <div id="banner">
        <div id="timer-wrapper">
            <div id="timer"></div>
            <button id="start-button">Start</button>
        </div>

        <div id="prompt"></div>

        <div id="code-wrapper">
            <span id="code"></span>
            <button id="copy-code-button">Copy</button>
        </div>
    </div>

    <div id="game">
        <div id="sidebar">
            <h3>Players</h3>
            <ul id="player-list"></ul>
        </div>

        <div id="canvas-wrapper">
            <div id="canvas-inner">
                <div id="countdown">3</div>
                <canvas id="canvas" width="560" height="560">
                    HTML5 canvas not supported
                </canvas>
            </div>
        </div>
    </div>

    <div id="enter-name" class="scrim">
        <div class="popup">
            <input type="text" id="name-input" placeholder="Enter your name" autocomplete="off">
            <button id="set-name-button">Set Name</button>
        </div>
    </div>
    
    <div id="game-not-found" class="scrim" style="visibility: hidden;">
        <div class="popup">
            <h2>Game not found</h2>
            <p>There's no active game with that code. Try checking the code to make sure it is correct.</p>
            <a id="go-back-button" href="~/">Go Back</a>
        </div>
    </div>
</body>
</html>