@page
@model PictionaryAI.Pages.GameModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/game.css" rel="stylesheet">

    <script src="~/lib/signalr/signalr.js"></script>
    <script defer src="~/js/canvas.js"></script>
    <script defer src="~/js/game.js"></script>
    <script defer src="~/js/mainContainerResize.js"></script>
</head>
<body>
    <div id="everything-container">
        <div id="banner">
            <div id="timer-wrapper">
                <div id="timer"></div>
            </div>

            <div id="prompt">&nbsp;</div>

            <div id="code-wrapper">
                <span id="code"></span>
                <button id="copy-code-button">Copy</button>
            </div>
        </div>
        <div id="main-container">
            <div id="players-container">
                <p id="players-title">Players:</p>
                <ul id="player-list"></ul>
                <button id="start-button" class="primary-button button clicky">Start</button>
            </div>
            <div id="canvas-container">
                <canvas id="canvas">
                    HTML5 canvas not supported
                </canvas>
                <div id="canvas-overlay" style="visibility: hidden;">
                    <p id="canvas-overlay-text"></p>
                </div>
            </div>
        </div>
    </div>

    <div id="enter-name" class="scrim active">
        <div class="popup">
            <input type="text" id="name-input" placeholder="Enter your name" autocomplete="off">
            <button id="set-name-button">Set Name</button>
        </div>
    </div>
    
    <div id="game-not-found" class="scrim">
        <div class="popup">
            <h2>Game not found</h2>
            <p>There's no active game with that code. Try checking the code to make sure it is correct.</p>
            <a id="go-back-button" href="~/">Go Back</a>
        </div>
    </div>

    <div id="connection-lost" class="scrim">
        <div class="popup">
            <h2>Connection lost</h2>
            <p>Try checking your internet connection. Otherwise, our server may be offline.</p>
            <a id="go-back-button" href="~/">Go Back</a>
        </div>
    </div>
</body>
</html>