@page
@model PictionaryAI.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/home.css" rel="stylesheet">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon"/>

</head>
<body>
    <div id="content-container">
        <img id="banner" src=~/img/banner.png />
        <div id="menu">
            <p id="welcome-text">Welcome!</p>
            <form class="form-container" action="~/game">
                <input id="host-button" class="button primary-button clicky menu-button" type="submit" value="Create Game">
            </form>
            <p id="or-text">or</p>
            <form id="join-menu" class="form-container" action="~/game" autocomplete="off">
                <input id="join-code" type="text" name="code" placeholder="Enter the room code">
                <input id="join-button" class="button secondary-button clicky" type="submit" value="Join Game">
            </form>
        </div>
    </div>
</body>
</html>