@page
@model PictionaryAI.Pages.IndexModel
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="~/css/styles.css" rel="stylesheet">
    <link href="~/css/home.css" rel="stylesheet">
</head>
<body>
    <div id="menu">
        <form id="join-menu" action="~/game" autocomplete="off">
            <input type="text" name="code" placeholder="Enter the game code">
            <input id="join-button" type="submit" value="Join Game">
        </form>
        <form action="~/game">
            <input id="host-button" type="submit" value="Create Game">
        </form>
    </div>
</body>
</html>